<div class="container">
  <h1>Thank you for selling an item or service on behalf of <%=@house.name%></h1>

  <h3>Here is what you've posted:</h3>
  <p>Title: <%=@new.title%></p>
  <p>Description: <%=@new.description%></p>
  <p>Price: <%=@new.price%></p>
  <p>Email: <%=@new.email%></p>

  <hr>

  <h3>Here is your special url code (add it after the website's .com) to come back and edit this post (remember to save this!):</h3>

  <p><a href="/articles/<%=@new.random_string%>">/articles/<%=@new.random_string%></a></p>

  <h5><a href="/">Head back to the homepage</a></h5>

</div>
