<div class="container">
  <h1>Welcome to Throneslist!</h1>

<div class = "all">
  <% @categories.each do |house|%>
    <div class = "all_houses" id = "<%=house.id%>">
      <div class = "all_houses_text">
      <a href='/categories/<%=house.id%>'><%= house.name %></a>
      </div>
      <a href='/categories/<%=house.id%>'><img src="imgs/House<%=house.id%>.png"></a>
    </div>
  <% end %>
</div>

</div>
